
# ─── Chain ────────────────────────────────────────────────────────────────────
NEXT_PUBLIC_CHAIN_ID=1001
NEXT_PUBLIC_RPC_URL=https://public-en-kairos.node.kaia.io

# ─── Core protocol ────────────────────────────────────────────────────────────
NEXT_PUBLIC_FXENGINE_ADDRESS=0x87300979Eee13E9d0148CA0BB83ac96F4e1B39a2

# ─── Tokens ───────────────────────────────────────────────────────────────────
NEXT_PUBLIC_TOKEN_MYR=0x1987383ff2771ed728470321B0EF49cDd1DA941A
NEXT_PUBLIC_TOKEN_SGD=0x077dCc56aaa53b6341ECb12A3ED02E2dAC16E995
NEXT_PUBLIC_TOKEN_IDRX=0x21623C0e8455b26EE1c5baef80C6a57AF2013a77
NEXT_PUBLIC_TOKEN_USDT=0xC8F1ae371F1C1F9C43EdB3e1D9eFb207Fb38E0a7

# ─── Pools ────────────────────────────────────────────────────────────────────
NEXT_PUBLIC_POOL_MYR=0xCAC9Ba451dA6BFD4FdC89e57ee26840415733bBe
NEXT_PUBLIC_POOL_SGD=0xEC525b3F0895AD06b5465744AF490eaDEB598Ed9
NEXT_PUBLIC_POOL_IDRX=0x46355EAA6d26a2A3F092ff29e2C821EEF64E419a
NEXT_PUBLIC_POOL_USDT=0xB817f196494C3e4F4e3E9c7A38c6eA0EFf139a83